/* ============   Ragistration Start  ============ */
.inputbox{
    text-align: center;
    /* margin-top: 100px; */
}

.textfield{
    margin: 30px 0;
}

.MuiTextField-root {
    width: 325px !important;
}

.alert{
    margin: 0 auto;
    width: 290px ;
}

/* ============   Ragistration End  ============ */


/* ============   Login Start  ============ */

/* ============   Login End  ============ */