/* ============   Ragistration Start  ============ */
.inputbox{
    text-align: center;
    /* margin-top: 100px; */
}

.textfield{
    margin: 30px 0;
}

.textfieldeye{
    position: relative;
    margin: 30px 0;
}

.MuiTextField-root {
    width: 325px !important;
}

.alert{
    margin: 20px auto;
    width: 290px ;
}

.eye{
    position: absolute;
    top: 20px;
    right: 7%;
}

.MuiGrid-root{
    justify-content: center;
}
/* ============   Ragistration End  ============ */


/* ============   Login Start  ============ */

/* ============   Login End  ============ */